{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- CSS Stylesheets -->
    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    <link href="{% static 'network/post.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">

    <script src="{% static 'network/mainpage.js' %}"></script>
    
  </head>
  <body>
    <div style="text-align:left">
      <nav class="navbar-light fixed-top" style="text-align:center;width:100vw;z-index:10; background-color: #fbe399">
          <a href="{% url 'index' %}" style="text-decoration:none;color:black; float: left; margin-left: 70px;">
            <img id="logo" src="{% static 'network/logo.png' %}" style="width: 200px;">
          </a>
          <!-- <fieldset class="field-container"> -->
            <input type="text" placeholder="Search..." class="field" />
            <!-- <div class="icons-container">
              <div class="icon-search"></div>
              <div class="icon-close">
                <div class="x-up"></div>
                <div class="x-down"></div>
              </div>
            </div>
          </fieldset> -->
          <div style="display: inline; float: right; margin-right: 30px;">
            <a href="{% url 'profile' request.user.id %}" class="nav-link" style="float: right">
              <img src="{{ request.user.profilePicture.url }}" style="width: 40px; border-radius: 40px;">
            </a>
            <button style="float: right">
              <span class="material-symbols-outlined" style="font-size: 40px">
                notifications
                </span>
            </button>
            <button style="float: right">
              <span class="material-symbols-outlined" style="font-size: 40px">
                add_circle
              </span>
            </button>
          </div>
            

      </nav>
    
      <div class="body">
          {% block body %}
          {% endblock %}
      </div>
    </div>
  </body>
</html>