{% extends "network/layout.html" %}

{% block body %}
    <div class="profileHeader">
        <div>
            {% if user.profilePicture %}
                <img src="{{ post.creator.profilePicture.url }}" class="img-responsive profilePicture"\>
            {% else %}
                <img src='/media/profilePictures/default.jpg' class="img-responsive profilePicture"/>
            {% endif %}
        </div>

        <div id="profileUsername">{{ user.username }}</div>

        {% if request.user.id != user.id %}
            {% if following == False %}
                <button onclick="toggleFollow(this, '{{ user.id }}')" class="btn btn-primary" data-follow="false">Follow</button>
            {% elif following == True %}
                <button onclick="toggleFollow(this, '{{ user.id }}')" class="btn btn-primary" data-follow="true">Unfollow</button>
            {% endif %}
        {% endif %}

        <div style="text-align: center;">
            <span class="profileFollowers">Followers: <span id="followers">{{ followerCount }}</span></span>
            <span class="profileFollowing">Following: <span id="following">{{ followingCount }}<span></span>
        </div>

    </div>
    <hr>
    {% for post in posts %}
        <div data-name={{ post.id }} id="postContainer" class="postContainer">
            <div style="width: 100%; padding: 1vh; border-bottom:  groove 2px; ">
                <div style="display: inline;">
                    {% if post.creator.profilePicture %}
                        <img src="{{ post.creator.profilePicture.url }}" class="img-responsive profilePicture"\>
                    {% else %}
                        <img src='/media/profilePictures/default.jpg' class="img-responsive profilePicture"/>
                    {% endif %}
                </div>
                <div style="font-size: 20px; display: inline;"><b><a href="{% url 'profile' post.creator.id %}">{{ post.creator }}</a></b></div>
            </div>
        
        {% if post.image %}
            <div id="postImageContainer">
                <img src="{{ post.image.url }}" class="img-responsive postImage" />
            </div>
        {% endif %}

        {% if post.id in likes %}
            <!-- Full Heart -->
            <button id={{ post.id }} onclick=toggleLike(this) class="likeButton" data-like="true">
                <img src="/static/network/svg/heart-fill.svg">
            </button>
            <span id=likeCount-{{ post.id }}>{{ post.likes }}</span> likes
        {% else %}
            <!-- Hollow Heart -->
            <button id={{ post.id }} onClick="toggleLike(this)" class="likeButton" data-like="false">
                <img src="/static/network/svg/heart.svg">
            </button>
            <span id=likeCount-{{ post.id }}>{{ post.likes }}</span> likes
        {% endif %}

            <div id="postDescription-{{post.id}}" class="postDescription">
                {{ post.description }} 
            </div>
        {% if request.user == post.creator %}
            <div id='editContainer-{{ post.id }}' onclick="openEdit('{{ post.id }}')" style="padding-left: 10px">
                <a id="editLabel">Edit
                    <img src="static/network/svg/pencil-square.svg">
                </a>
                <form onsubmit="editPost(this, '{{ post.id }}')" id="editForm">
                    <textarea id="editArea" style="display: none;">{{ post.description }}</textarea>
                    <button id='editSave' style="display: none;" class="btn btn-primary" type="submit">Save and Close</button>
                </form>
            </div>
        {% endif %}
                
            <div style="padding-left: 10px;">{{ post.timestamp }}</div>
            <div id="comment" style="padding-left: 10px;"><span>Comments()</span></div>
            {% for element in post.comments.all %}
                <span><b>{{ element.user }}</b></span>
                <span>{{ element.description }}</span>
            {% endfor %}
        </div>
    {% endfor%}
{% endblock %}