.body {
    margin: auto;
    background-color: #f1eee9;
    font-family: "Roboto", sans-serif;
    width: 100%; 
    padding-top: 70px; 
    padding-left: 30px; 
    padding-right: 30px;
}

.newPostFormContainer {
    border: solid 1px;
    width: 40vw; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top:vh; 
    margin-bottom: 2vh; 
    border-radius: 1%;
    display: flexbox; 
    padding: 5px;
}

.profilePicture {
    border-radius: 50%; 
    width: 120px; 
    height: 120px;
}

.postImage{
    display: inline-block;
    width: 100%; 
    height: 100%;
}

.postDescription {
    padding-left: 10px; 
    padding-right: 10px;
    font-size: 18px;
}

#editArea {
    display: none; 
    height: 50px;
    width: 90%;
}

.profileHeader {
    margin-right: auto; 
    margin-left: auto; 
    text-align: center;
    width: max-content;
}

#profileUsername {
    text-align: center; 
    font-size: 36px;
    height: max-content;
}

.profileFollowers {
    margin-right: 40px; 
    font-size: 18px;
}

.profileFollowing {
    font-size: 18px;
}

button {
    outline: none;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 210px;
    position: fixed;
    height: 100vh;
    z-index:100;
    background:#0a66c2;
    color: #fff;
}

#username{
    padding:8px 16px;
}

#editArea{
    display:none; 
    height: 50px;
    width: 95%;
}

main .form-control
{
    display: inline-block;
    width: auto;
}

main
{
    overflow-x: auto;
    text-align: center;
}

main img
{
    max-width: 100%;
}



.field-container {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    width: 330px;
    height: 40px;
}

.field {
    border: 0;
    width: 400px;
    height: 100%;
    margin-top: 8px;
    padding: 10px 20px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
    transition: all 0.4s ease;
}
.field:focus {
    outline: none;
    box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3);
}
.field:focus + .icons-container .icon-close {
    opacity: 1;
    transform: translateX(0);
}
.field:focus + .icons-container .icon-search {
    opacity: 0;
    transform: translateX(200%);
}

#ymk {
    position: fixed;
}

#posts {
    margin-left: 35%;
}

#profile-posts {
    margin-left: 25%;
}

.modal-image {
    float: left; 
    margin-right: 20px;
}