.body {
    margin: auto;
    background-color: #fafafa; 
    width: 100%; 
    padding-top: 70px; 
    padding-left: 30px; 
    padding-right: 30px;
}

#logo {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:xx-large;
}

.newPostFormContainer {
    border: solid 1px;
    width: 40vw; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top:vh; 
    margin-bottom: 2vh; 
    border-radius: 1%;
    display: flexbox; 
    padding: 5px;
}

.postContainer {
    border: solid 1px; 
    border-color: grey;
    width: 40vw; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top:vh; 
    margin-bottom: 2vh; 
    border-radius: 1%; 
    display: flexbox;
}

.profilePicture {
    border-radius: 50%; 
    width: 35px; 
    height: 35px;
}

#postImageContainer {
    width: 100%; 
    height: 100%;
}

.postImage{
    display: inline-block;
    width: 100%; 
    height: 100%;
}

.likeButton {
    padding: 0;
    border: none;
    background: none; 
    padding-left: 10px;
}

.postDescription {
    padding-left: 10px; 
    padding-right: 10px;
    font-size: 18px;
}

#editArea {
    display: none; 
    height: 50px;
    width: 90%;
}

.profileHeader {
    margin-right: auto; 
    margin-left: auto; 
    text-align: center;
}

#profileUsername {
    text-align: center; 
    font-size: 36px;
}

.profileFollowers {
    margin-right: 40px; 
    font-size: 18px;
}

.profileFollowing {
    font-size: 18px;
}

button {
    outline: none;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 210px;
    position: fixed;
    height: 100vh;
    z-index:100;
    background:#0a66c2;
    color: #fff;
}

#username{
    padding:8px 16px;
}

#editArea{
    display:none; 
    height: 50px;
    width: 95%;
}

main .form-control
{
    display: inline-block;
    width: auto;
}

main
{
    overflow-x: auto;
    text-align: center;
}

main img
{
    max-width: 100%;
}